# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [46]:
import pandas as pd

In [47]:
CaliforniaCensus = pd.read_csv('census_data.csv')
CaliforniaCensus.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [48]:
CaliforniaCensus['income_bracket'] = CaliforniaCensus['income_bracket'].str.replace('>50K', '1')
CaliforniaCensus['income_bracket'] = CaliforniaCensus['income_bracket'].str.replace('<=50K', '0')

CaliforniaCensus['income_bracket'] = pd.to_numeric(CaliforniaCensus['income_bracket'])

CaliforniaCensus.head(10)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1

### Perform a Train Test Split on the Data

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
lebels = CaliforniaCensus['income_bracket']
features = CaliforniaCensus.drop(['income_bracket'], axis=1)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(features, lebels, 
                                                    test_size=0.3)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [52]:
CaliforniaCensus.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [53]:
CaliforniaCensus.dtypes

age                int64
workclass         object
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_bracket     int64
dtype: object

In [54]:
CaliforniaCensus.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

** Import Tensorflow **

In [55]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [56]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [57]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [58]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [59]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,
                                               num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [60]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/s1/h9x0_mhx4tn1dfstx3w6gvhc0000gn/T/tmpzzo6n6jw
INFO:tensorflow:Using config: {'_save_summary_steps': 100, '_session_config': None, '_model_dir': '/var/folders/s1/h9x0_mhx4tn1dfstx3w6gvhc0000gn/T/tmpzzo6n6jw', '_log_step_count_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_secs': 600, '_keep_checkpoint_max': 5, '_save_checkpoints_steps': None, '_tf_random_seed': 1}

** Train your model on the data, for at least 5000 steps. **

In [61]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/s1/h9x0_mhx4tn1dfstx3w6gvhc0000gn/T/tmpzzo6n6jw/model.ckpt.
INFO:tensorflow:step = 1, loss = 69.3147
INFO:tensorflow:global_step/sec: 136.941
INFO:tensorflow:step = 101, loss = 233.1 (0.732 sec)
INFO:tensorflow:global_step/sec: 197.112
INFO:tensorflow:step = 201, loss = 337.25 (0.507 sec)
INFO:tensorflow:global_step/sec: 220.615
INFO:tensorflow:step = 301, loss = 90.0551 (0.453 sec)
INFO:tensorflow:global_step/sec: 210.563
INFO:tensorflow:step = 401, loss = 458.733 (0.475 sec)
INFO:tensorflow:global_step/sec: 149.604
INFO:tensorflow:step = 501, loss = 141.348 (0.671 sec)
INFO:tensorflow:global_step/sec: 162.795
INFO:tensorflow:step = 601, loss = 245.996 (0.611 sec)
INFO:tensorflow:global_step/sec: 222.588
INFO:tensorflow:step = 701, loss = 149.305 (0.452 sec)
INFO:tensorflow:global_step/sec: 191.505
INFO:tensorflow:step = 801, loss = 246.827 (0.519 sec)
INFO:tensorflow:global_step/sec: 192.579
INFO:tensorflow:step = 901, loss = 281.153 (0.519 sec)
INFO:tensorflow:global_step/sec: 221.867
INFO:tensorflow:step = 1001, loss = 252.491 (0.451 sec)
INFO:tensorflow:global_step/sec: 228.329
INFO:tensorflow:step = 1101, loss = 36.6844 (0.440 sec)
INFO:tensorflow:global_step/sec: 219.308
INFO:tensorflow:step = 1201, loss = 186.562 (0.454 sec)
INFO:tensorflow:global_step/sec: 169.736
INFO:tensorflow:step = 1301, loss = 150.835 (0.589 sec)
INFO:tensorflow:global_step/sec: 166.192
INFO:tensorflow:step = 1401, loss = 127.194 (0.602 sec)
INFO:tensorflow:global_step/sec: 155.299
INFO:tensorflow:step = 1501, loss = 38.1918 (0.644 sec)
INFO:tensorflow:global_step/sec: 198.56
INFO:tensorflow:step = 1601, loss = 30.9276 (0.503 sec)
INFO:tensorflow:global_step/sec: 208.468
INFO:tensorflow:step = 1701, loss = 62.6467 (0.480 sec)
INFO:tensorflow:global_step/sec: 189.483
INFO:tensorflow:step = 1801, loss = 459.944 (0.528 sec)
INFO:tensorflow:global_step/sec: 176.482
INFO:tensorflow:step = 1901, loss = 32.4968 (0.566 sec)
INFO:tensorflow:global_step/sec: 196.333
INFO:tensorflow:step = 2001, loss = 89.8821 (0.509 sec)
INFO:tensorflow:global_step/sec: 203.201
INFO:tensorflow:step = 2101, loss = 35.8942 (0.492 sec)
INFO:tensorflow:global_step/sec: 214.75
INFO:tensorflow:step = 2201, loss = 124.156 (0.466 sec)
INFO:tensorflow:global_step/sec: 208.598
INFO:tensorflow:step = 2301, loss = 26.0953 (0.480 sec)
INFO:tensorflow:global_step/sec: 167.989
INFO:tensorflow:step = 2401, loss = 154.549 (0.595 sec)
INFO:tensorflow:global_step/sec: 188.545
INFO:tensorflow:step = 2501, loss = 71.4955 (0.530 sec)
INFO:tensorflow:global_step/sec: 187.612
INFO:tensorflow:step = 2601, loss = 37.5985 (0.536 sec)
INFO:tensorflow:global_step/sec: 204.877
INFO:tensorflow:step = 2701, loss = 210.196 (0.486 sec)
INFO:tensorflow:global_step/sec: 188.44
INFO:tensorflow:step = 2801, loss = 242.492 (0.530 sec)
INFO:tensorflow:global_step/sec: 213.392
INFO:tensorflow:step = 2901, loss = 271.052 (0.469 sec)
INFO:tensorflow:global_step/sec: 218.426
INFO:tensorflow:step = 3001, loss = 121.481 (0.458 sec)
INFO:tensorflow:global_step/sec: 144.679
INFO:tensorflow:step = 3101, loss = 47.1689 (0.691 sec)
INFO:tensorflow:global_step/sec: 145.273
INFO:tensorflow:step = 3201, loss = 25.8849 (0.691 sec)
INFO:tensorflow:global_step/sec: 184.505
INFO:tensorflow:step = 3301, loss = 63.8155 (0.544 sec)
INFO:tensorflow:global_step/sec: 188.157
INFO:tensorflow:step = 3401, loss = 54.5196 (0.530 sec)
INFO:tensorflow:global_step/sec: 135.476
INFO:tensorflow:step = 3501, loss = 42.3527 (0.739 sec)
INFO:tensorflow:global_step/sec: 148.305
INFO:tensorflow:step = 3601, loss = 208.121 (0.671 sec)
INFO:tensorflow:global_step/sec: 181.623
INFO:tensorflow:step = 3701, loss = 40.3887 (0.551 sec)
INFO:tensorflow:global_step/sec: 178.484
INFO:tensorflow:step = 3801, loss = 82.274 (0.562 sec)
INFO:tensorflow:global_step/sec: 163.871
INFO:tensorflow:step = 3901, loss = 77.5139 (0.608 sec)
INFO:tensorflow:global_step/sec: 195.348
INFO:tensorflow:step = 4001, loss = 66.6813 (0.512 sec)
INFO:tensorflow:global_step/sec: 151.334
INFO:tensorflow:step = 4101, loss = 30.9709 (0.661 sec)
INFO:tensorflow:global_step/sec: 209.737
INFO:tensorflow:step = 4201, loss = 258.31 (0.477 sec)
INFO:tensorflow:global_step/sec: 168.159
INFO:tensorflow:step = 4301, loss = 47.6763 (0.595 sec)
INFO:tensorflow:global_step/sec: 209.411
INFO:tensorflow:step = 4401, loss = 47.9156 (0.477 sec)
INFO:tensorflow:global_step/sec: 213.748
INFO:tensorflow:step = 4501, loss = 39.6123 (0.470 sec)
INFO:tensorflow:global_step/sec: 201.026
INFO:tensorflow:step = 4601, loss = 232.687 (0.495 sec)
INFO:tensorflow:global_step/sec: 212.831
INFO:tensorflow:step = 4701, loss = 164.83 (0.471 sec)
INFO:tensorflow:global_step/sec: 221.148
INFO:tensorflow:step = 4801, loss = 38.6126 (0.454 sec)
INFO:tensorflow:global_step/sec: 166.051
INFO:tensorflow:step = 4901, loss = 33.4286 (0.599 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/s1/h9x0_mhx4tn1dfstx3w6gvhc0000gn/T/tmpzzo6n6jw/model.ckpt.
INFO:tensorflow:Loss for final step: 90.665.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [62]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,
                                              batch_size=len(X_test),
                                              shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [63]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Restoring parameters from /var/folders/s1/h9x0_mhx4tn1dfstx3w6gvhc0000gn/T/tmpzzo6n6jw/model.ckpt-5000

** Each item in your list will look like this: **

In [64]:
predictions[0]

{'class_ids': array([1]),
 'classes': array([b'1'], dtype=object),
 'logistic': array([ 0.5092665], dtype=float32),
 'logits': array([ 0.03707016], dtype=float32),
 'probabilities': array([ 0.49073353,  0.5092665 ], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [65]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [66]:
final_preds[:10]

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [67]:
from sklearn.metrics import classification_report

In [68]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.86      0.93      0.89      7372
          1       0.71      0.55      0.62      2397

avg / total       0.82      0.83      0.83      9769

# Great Job!